/*
    Author: Alex Doe
    Date: 03/04/21
    File Name: styles.css
*/

/* CSS Reset */

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

/* Style rule for header */
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #000000;
} 

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style rule for footer */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }