<!--
    Author: Alex
    Date: 03/03/2021
    File Name: template.html
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Playground</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
        <!-- Links -->
        <ul class="nav">
            <li class="nav-item">Home</li>
            <li class="nav-item">Things To Do</li>
        </ul>

        <!-- Navbar text-->
        <span class="navbar-text">
            Navbar text
        </span>
    </nav>
</head>

<body>
    <div class="container-lg pt-3 bg-light text-black">
    
        <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">40%</div></div>


        <h1>Welcome to The Jung--just kidding... Playground</h1>
        <p>I will think of something to put here <abbr title="I probably (most likely) will not.">eventually</abbr>.</p>

        <blockquote class="blockquote">
            <p>I probably, most likely, but maybe definitely will not add something else to this website. I wish I could think of more to add to this quote so I could see what the blockquote does in Bootstrap 4. Maybe I will think of something after playing with the website a little longer. Also, it'll probably be easier to add to this quote after taking a break. Maybe I'll start a GitHub repository and practice integrating it into Visual Code Studio then I'll write about it on the website blockquote. After I write it, I'll go back and correct myself to write Visual Studio Code and wonder why I keep reversing those two words. Maybe I'll ponder why they even named it like that in the first place for a little whike and make a few more typos that I maty or may not go back and fiz.</p>
            <footer class="blockquote-footer">Alex</footer>
        </blockquote>

        <p>Make yourself at home, take a look around and interact with whatever you want. Just don't get too comfortable... it is possible to wear out your welcome.</p>

        <div class="jumbotron jumbotron-fluid">
            <h3>Did I hear someone ask how this website came about?</h3>
            <p><small>No? Probably not, but I'll tell you anyway.</small></p>
            <p>Initially, I came to get on my computer so I could find out if I was accepted to the job I applied for. Thanks to my A.D.D. (I didn't have periods between the letters and it just looked like add, so I ADDED periods. See what I did there?), I somehow ended up on <a href="https://www.w3schools.com">www.w3schools.com</a>. I started reading about Bootstrap 4 and started this website to test it out. After Step Six, I realized I should've started from the very beginning, but I was too lazy to go back and change the steps, so I'm just rolling with it at this point.</p>
        </div>

        <p>You can check out my list of <a href="todo.html">things to do today</a> or you can just click around until you find something you like.</p>

        <h2>Things To Do Today</h2>

            <p><h4>Step one: Make a list.</h4>
                <dl>
                    <dt>Think of something to add to the playground</dt>
                        <dd>- It has to be really cool</dd>
                        <dd>- Something no one has ever seen before</dd>

                    <dt>Give the playground a really cool name</dt>
                        <dd>- Something like "The Playground"</dd>
                        <dd>- Or The Playground</dd>
                    
                    <dt>Play around with Bootstrap 4</dt>
                        <dd>- Add as many elements as possible</dd>
                        <dd>- Test/try everything out</dd>
                        <dd>- Don't make it look bad</dd>
                </dl></p>
            
            <p><h4>Step two: Figure out which text colors to use and where.</h4>
                <p class="text-muted">Muted.</p>
                <p class="text-primary">Important.</p>
                <p class="text-success">Success.</p>
                <p class="text-info">Information.</p>
                <p class="text-warning">Warning.</p>
                <p class="text-danger">Danger.</p>
                <p class="text-secondary">Secondary.</p>
                <p class="text-dark">Dark grey.</p>
                <p class="text-body">Default body color (often black).</p>
                <p class="text-light">Light grey (on white background).</p>
                <p class="text-white">White (on white background).</p></p>


            <p><h4>Step Three: Make a table</h4>
                <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>Good Idea</th>
                        <th>Okay Idea</th>
                        <th>Bad Idea</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Make a website</td>
                        <td>Maybe make a website</td>
                        <td>Don't make a website</td>
                        </tr>
                    <tr>
                        <td>Add cool stuff to it</td>
                        <td>Add regular stuff to it</td>
                        <td>Add lame stuff to it</td>
                    </tr>
                    <tr>
                        <td>Give it a cool name</td>
                        <td>Give it an ordinary name</td>
                        <td>Give it an awful name</td>
                    </tr>
                    </tbody>
                </table>
                </div></p>

            <p><h4>Step Four: Remember a crucial part to the process.</h4>
                <ol>
                    <li>Open a new browser window</li>
                    <li>Open the file for the website</li>
                    <li>See the headings and steps are not what were expected at all.</li>
                    <li>Go back and redo the headings and steps.</li>
                    <li>Refresh the page and smile.</li>
                    <li>Think of more things to add to the website.</li>
                    <li>Think to add some pages.</li>
                    <li>Realize each step could probably make a page.</li>
                    <li>GIVE THE PEOPLE SOMETHING TO CLIIICK!!!</li>
                    <li><small>...continue building website...</small></li>
                </ol>
            </p>

            <p><h4>Step Five: <small>Change the website's header to The Playground instead of Alex's Playground because that sounds creepy and nobody wants to be on Alex's Playground.</small></h4></p>
                
            <p><h4>Step Six: Add a Step Five, but keep adding more steps ahead of it so it gets pushed down to Step... wait, what number was it again?</h4>
                <p>Also, while making these steps, try to buy a domain for this website.</p>
                <p>Try to buy <a href="theplayground.com">theplayground.com</a>, realize it's taken, and buy <a href="nottheplayground.com">nottheplayground.com</a>. After buying the domain, realize that sounds like it could be mistaken as something else because everyone is a pervert and nothing is sacred or innocent anymore.</p>
            </p>

            <p><h4>Step Seven: Take a break to eat and go to sleep. Come back to this later. Otherwise, it will be morning next time I get up.</h4></p>

            <p><h4>Step Eight: Come back the next day.</h4>
                <p>Now that I've gotten some sleep and I've thought about it... "The Playground" seems kind of creepy. I tried to look for another domain like "The Sandbox" or something, but I've had no luck with that. I might just be stuck with "The Playground" for now.</p>
            </p>
            
                <p><h4>Step ??: Add some pictures to the website.</h4>
                <p>It's always great to have some pictures. Let's come back to this. <!-- FIXME: ADD SOME PICTURES WITH THIS WEBSITE https://www.w3schools.com/bootstrap4/bootstrap_images.asp --></p>

                <p><h4>Step ???: Make alerts.</h4>
                <p><!-- FIXME: ADD SOME ALERTS WITH THIS WEBSITE https://www.w3schools.com/bootstrap4/bootstrap_alerts.asp --></p>

                <p><h4>Step ??: Add some buttons.</h4>
                <p><!-- FIXME: ADD SOME BUTTONS WITH THIS WEBSITE https://www.w3schools.com/bootstrap4/bootstrap_buttons.asp --></p>
            
            </p>






        <h2 class="text-warning">After Making the Really Cool Website:</h2>
        <p>Use <kbd>ctrl + s</kbd> to make sure everything is saved.</p>





    </div>
</body>
</html>
